* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgba(57, 114, 71, 0.753);
    --heading-text-color: white;
    --heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --padding: 10px;
}

nav {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
}

h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

img {
    width: 200px;
    height: auto;
    border: 3px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

