* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --secondary-color: darkblue;
    --accent1-color: black;
    --accent2-color: yellow;
    --accent3-color: orange;
    --heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  color: var(--accent1-color);
    background-color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    padding: 20px;
}

ul.navigation {
    display: flex;
    list-style: none;
}

ul.navigation li {
    flex: 1 1 auto;
    border: 2.5px solid var(--accent1-color);
    text-align: center;
    background-color: var(--accent3-color);
    padding: 5px;
}

ul.navigation li a {
    color: var(--accent1-color)
} 

a {
    text-decoration: none;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 16px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    opacity: .7;
    color: var(--accent2-color) 
}

h2 {
    display: block;
    color: var(--accent2-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.welcome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 0px;
    margin-bottom: .0px;
    margin-top: 50px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 5px;
    background-color: var(--secondary-color);
    width: 809px;
    opacity: .85;
    color: var(--accent2-color);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 42px;
}

.hero article img {
    float: right;
    width: 120px;
    margin-right: 20px;
    opacity: 1;
    border: 3px solid var(--accent1-color);
}

section.history article {
    display: grid;
    grid-template-columns: 1fr 220px 1fr;
    align-items: center;
    padding: 20px;
}

section.history article img {
    margin: 0 auto;
    width: 200px;
    height: auto;
    border: 4px solid var(--accent1-color);
}

section.adventure div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px;
    text-align: center;
}

section.adventure img {
    margin: 0 auto;
    width: 135px;
    height: auto;
    border: 3px solid var(--accent1-color);
}

footer .socialmedia {
    float: right;
    margin: 0;
}

footer p {
    text-align: right;
}

.contact-info {
    margin: 0.3rem;
    text-align: center;
}

.contact-info h1 {
    position: unset;
    background-color: var(--secondary-color);
    opacity: 90%;
}

.contact-info p {
    margin: 0px;
    padding: 2px;
}

.map iframe {
    width: 100%;
    height: 350px;
    padding-right: 10px;
}

.form-item {
    display: grid;
    align-items: center;
    margin-bottom: 5px;
}

.column2 {
    grid-template-columns: 1fr 2.5fr;
}

.block-form label {
    display: block;
}

.block-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 9px;
    margin-top: 3px;
}

.our-team {
    margin-top: 1rem;
    padding-bottom: 8px;
    text-align: center;
}

.team-grid {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.team-grid img {
    width: 250px;
    height: auto;
    border-radius: 15px;
    border-style: ridge;
    border-color: black;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-submit {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    opacity: 90%;
    padding: 0rem;
    border: 10rem;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

.form-submit:hover {
    color: var(--accent1-color);
    background-color: var(--accent3-color);
}

.trips img {
    width: 350px;
    display: flex;
    margin: auto;
    padding: 0;
}

.trips-grid {
    display: flex;
    gap: .7rem;
}

.trips-grid img {
    width: 260px;
    height: auto;
    border-radius: 5px;
    border-style: ridge;
    border-color: black;
}

.form-subscribe {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    opacity: 90%;
    padding: 0rem;
    border: 10rem;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

.form-subscribe:hover {
    color: var(--accent1-color);
    background-color: var(--accent3-color);
}

.home-grid img {
    width: 260px;
    height: auto;
    border-radius: 5px;
    border-style: ridge;
    border-color: black;
}

.home-grid {
    display: flex;
    gap: .7rem;
}

.hero article.trips-hero img {
    float: left;
    width: 220px;
}
.hero article.transparent {
    background-color: transparent;
}

.trips-table-grid table {
    width: 66%;
}

table {
    border-collapse: collapse;
    border: 3px solid var(--accent1-color);
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: lightgray;
}

th, td {
    border: 2px solid var(--accent1-color);
    padding: 8px 12px;
    text-align: center;
}

thead tr {
    background-color: var(--secondary-color);
    opacity: 80%;
    color: var(--accent2-color);
}

.trips-table-grid table li {
    list-style: none;
}

