* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --secondary-color: darkblue;
    --accent1-color: black;
    --accent2-color: yellow;
    --accent3-color: orange;
    --heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    padding: 20px;
}

ul.navigation {
    display: flex;
    list-style: none;
}

ul.navigation li {
    flex: 1 1 auto;
    border: 3px solid var(--accent1-color);
    text-align: center;
    background-color: var(--accent3-color);
    padding: 5px;
}

ul.navigation li a {
    color: var(--accent1-color)
} 

a {
    text-decoration: none;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 16px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    opacity: .7;
    color: var(--accent2-color) 
}

h2 {
    display: block;
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 15px;
    background-color: var(--secondary-color);
    width: 808px;
    opacity: .85;
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 100px;
    margin-right: 20px;
    opacity: 1;
    border: 3px var(--accent1-color);
}

section.history article {
    display: grid;
    grid-template-columns: 1fr 220px 1fr;
    align-items: center;
    padding: 20px;
}

section.history article img {
    margin: 0 auto;
    width: 200px;
    height: auto;
    border: 3px var(--accent1-color);
}

section.adventure div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px;
    text-align: center;
}

section.adventure img {
    margin: 0 auto;
    width: 135px;
    height: auto;
    border: 3px var(--accent1-color);
}

footer .socialmedia {
    float: right;
    margin: 0;
}

footer p {
    text-align: right;
}