* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

:root {
    --primary-color: white;
    --secondary-color: rgb(138, 152, 231);
    --accent1-color: black;
    --accent2-color: gray;
    --heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

    body {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: blue;
    color: yellow 
}

h2 {
    position: end;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: blue;
    color: yellow 
}

.hero article img {
    float: left;
    width: 200px;
}