* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --secondary-color: darkblue;
    --accent1-color: black;
    --accent2-color: yellow;
    --heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 16px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    opacity: 0.7;
    color: var(--accent2-color) 
}

h2 {
    color: var(--primary-color)
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 15px;
    background-color: var(--secondary-color);
    width: 808px;
    opacity: .85;
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 100px;
    margin-right: 20px;
    opacity: 1;
    border: 3px solid black;
}

