* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    margin: 1% auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

form {
    width: 650;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid darkgreen;
    border-radius: 0.5rem;
    background-color: hsla(120, 23%, 58%, 0.932);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 2px solid black;
    padding: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

legend {
    padding: 0.5rem;
    color: orange;
    font-size: 2em;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    margin: 1rem;
}

button {
    margin: 1.5rem;
    background-color: beige;
    color: black;
    border: 50%;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: orange;
}

footer {
    margin: 1rem auto 0;
    width: 650;
    text-align: center;
    font-size: 0.8em;
    color: black;
    border-top: 8px top solid fuchsia;
}