* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

form {
    background-color: rgb(172, 223, 240);
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

input, textarea, label, select, button {
    width: 450px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: lightgray;
    color: black;
    padding: 1rem;
    border: dashed 1px black;
    border-radius: 10px;
}