* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgba(57, 114, 71, 0.753);
    --heading-text-color: white;
    --heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --padding: 10px;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}


nav {
    background-color: var(--heading-background-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--heading-text-color);
    font-family: var(--heading-font);
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem;
}

h1 {
    color: black;
}

h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

img {
    width: 200px;
    height: auto;
    border: 3px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    height: auto;
    border: 4px solid black;
    padding: 1px;
    box-shadow: 0 0 20px gray;
    float: right;
}

p {
    padding: 0;
}

aside img {
    width: 250px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;    
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 3px solid black;
    padding: 1rem;
    background-color: rgba(57, 114, 71, 0.637);
}

aside {
    width: 20rem;
    position: relative;
    grid-row: 1;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}