* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgb(6, 70, 6);
    --heading-text-color: white;
    --heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --padding: 10px;
}

nav {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);

}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
}

main {
    max-width: 840px;
}

main img {
    width: 250px;
    height: auto;
    border: 5px solid black;
    padding: 1px;
    box-shadow: 0 0 20px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: ;
    border: 5px solid black;
    padding: 4px;
    background-color: bisque ;
    color: forestgreen ;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;    
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 3px solid black;
    padding: 1rem;
    background-color: lightgray;
    color: black;
}