body {
    width: 700px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    width: 60%;
    margin: auto;
}

header, footer {
    background-color: rgb(19, 71, 19);
    text-align: center;
    color: white;
    padding: 1px;
    font-size: 1.6rem;
    margin: 10px;

}

footer {
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

img {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 30px gray;
}

section {
    width: 90%;
    background-color: lightgray;
    padding: 5%;
    margin: 20px auto;
}

h2 {
    border-bottom: 1px solid black;
}

section p {
    margin-left: 15px;
}

section ul {
    margin-left: -10px;
}